[submodule "arc-newlib"]
	path = arc-newlib
	url = https://github.com/foss-for-synopsys-dwc-arc-processors/newlib.git
[submodule "arc-gcc"]
	path = arc-gcc
	url = https://github.com/foss-for-synopsys-dwc-arc-processors/gcc.git
[submodule "arc-binutils-gdb"]
	path = arc-binutils-gdb
	url = https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb.git
[submodule "arc-toolchain"]
	path = arc-toolchain
	url = https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain.git
